
# FVM Version Cache
.fvm/
.dart_tool/package_config_subset
.dart_tool/package_config.json
.dart_tool/package_graph.json
.dart_tool/version
.dart_tool/dartpad/web_plugin_registrant.dart
.dart_tool/extension_discovery/vs_code.json
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/.filecache
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/app.dill
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/dart_build_result.json
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/dart_build.d
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/dart_build.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/debug_bundle_windows-x64_assets.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/flutter_assets.d
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/gen_localizations.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/install_code_assets.d
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/install_code_assets.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/kernel_snapshot_program.d
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/kernel_snapshot_program.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/native_assets.json
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/outputs.json
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/unpack_windows.stamp
.dart_tool/flutter_build/4e7428c0919474ddb041758657fc6ea3/windows_engine_sources.d
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/.filecache
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/app.dill
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/dart_build_result.json
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/dart_build.d
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/dart_build.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/debug_bundle_windows-x64_assets.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/flutter_assets.d
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/gen_dart_plugin_registrant.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/gen_localizations.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/install_code_assets.d
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/install_code_assets.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/kernel_snapshot_program.d
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/kernel_snapshot_program.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/native_assets.json
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/outputs.json
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/unpack_windows.stamp
.dart_tool/flutter_build/c874e395ce1f5e4e7f569c4164409611/windows_engine_sources.d
.idea/.gitignore
.idea/modules.xml
.idea/studiobot.xml
.idea/vcs.xml
.idea/libraries/Dart_Packages.xml
.idea/libraries/Dart_SDK.xml
.idea/libraries/Flutter_Plugins.xml
.idea/libraries/KotlinJavaRuntime.xml
.idea/runConfigurations/main_dart.xml
build/.last_build_id
build/ca5b992a9529c9e3dd9b6865b3ef382b.cache.dill.track.dill
build/d7b177071baaf4ee18da1044770cbdc7.cache.dill.track.dill
build/last_build_run.json
build/a6d5636210c85f834c0ad2052f5b4b73/_composite.stamp
build/a6d5636210c85f834c0ad2052f5b4b73/gen_dart_plugin_registrant.stamp
build/a6d5636210c85f834c0ad2052f5b4b73/gen_localizations.stamp
build/flutter_assets/AssetManifest.bin
build/flutter_assets/AssetManifest.json
build/flutter_assets/FontManifest.json
build/flutter_assets/kernel_blob.bin
build/flutter_assets/NativeAssetsManifest.json
build/flutter_assets/NOTICES.Z
build/flutter_assets/fonts/MaterialIcons-Regular.otf
build/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/flutter_assets/shaders/ink_sparkle.frag
build/reports/problems/problems-report.html
build/windows/x64/ALL_BUILD.vcxproj
build/windows/x64/ALL_BUILD.vcxproj.filters
build/windows/x64/cmake_install.cmake
build/windows/x64/CMakeCache.txt
build/windows/x64/install_manifest.txt
build/windows/x64/INSTALL.vcxproj
build/windows/x64/INSTALL.vcxproj.filters
build/windows/x64/tagdoc.sln
build/windows/x64/ZERO_CHECK.vcxproj
build/windows/x64/ZERO_CHECK.vcxproj.filters
build/windows/x64/CMakeFiles/cmake.check_cache
build/windows/x64/CMakeFiles/CMakeConfigureLog.yaml
build/windows/x64/CMakeFiles/generate.stamp
build/windows/x64/CMakeFiles/generate.stamp.depend
build/windows/x64/CMakeFiles/generate.stamp.list
build/windows/x64/CMakeFiles/TargetDirectories.txt
build/windows/x64/CMakeFiles/3.29.5-msvc4/CMakeCXXCompiler.cmake
build/windows/x64/CMakeFiles/3.29.5-msvc4/CMakeDetermineCompilerABI_CXX.bin
build/windows/x64/CMakeFiles/3.29.5-msvc4/CMakeRCCompiler.cmake
build/windows/x64/CMakeFiles/3.29.5-msvc4/CMakeSystem.cmake
build/windows/x64/CMakeFiles/3.29.5-msvc4/VCTargetsPath.txt
build/windows/x64/CMakeFiles/3.29.5-msvc4/VCTargetsPath.vcxproj
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CompilerIdCXX.exe
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/CompilerIdCXX.vcxproj
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.exe.recipe
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/Cl.items.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.secondary.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog
build/windows/x64/CMakeFiles/3.29.5-msvc4/VCTargetsPath/x64/Debug/VCTargetsPath.recipe
build/windows/x64/CMakeFiles/3.29.5-msvc4/VCTargetsPath/x64/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate
build/windows/x64/CMakeFiles/9d92d4732e475c7e85d7aec10ba18a51/flutter_windows.dll.rule
build/windows/x64/CMakeFiles/ae8f6d945b108c64c77337225f3e9694/generate.stamp.rule
build/windows/x64/CMakeFiles/ae8f6d945b108c64c77337225f3e9694/INSTALL_force.rule
build/windows/x64/CMakeFiles/cc0ae6f3c293fb1bbbce2f6e10ef0f48/INSTALL_force.rule
build/windows/x64/CMakeFiles/d5f9ff4413831c1dbb064e2ca2b1a1fb/flutter_assemble.rule
build/windows/x64/CMakeFiles/d5f9ff4413831c1dbb064e2ca2b1a1fb/INSTALL_force.rule
build/windows/x64/flutter/cmake_install.cmake
build/windows/x64/flutter/flutter_assemble.vcxproj
build/windows/x64/flutter/flutter_assemble.vcxproj.filters
build/windows/x64/flutter/flutter_wrapper_app.vcxproj
build/windows/x64/flutter/flutter_wrapper_app.vcxproj.filters
build/windows/x64/flutter/flutter_wrapper_plugin.vcxproj
build/windows/x64/flutter/flutter_wrapper_plugin.vcxproj.filters
build/windows/x64/flutter/INSTALL.vcxproj
build/windows/x64/flutter/INSTALL.vcxproj.filters
build/windows/x64/flutter/CMakeFiles/generate.stamp
build/windows/x64/flutter/CMakeFiles/generate.stamp.depend
build/windows/x64/flutter/Debug/flutter_wrapper_app.lib
build/windows/x64/flutter/Debug/flutter_wrapper_app.pdb
build/windows/x64/flutter/Debug/flutter_wrapper_plugin.lib
build/windows/x64/flutter/Debug/flutter_wrapper_plugin.pdb
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/core_implementations.obj
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_engine.obj
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_view_controller.obj
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_wrapper_app.lib.recipe
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/standard_codec.obj
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/CL.command.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/Cl.items.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/CL.read.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/CL.write.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/CustomBuild.command.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/CustomBuild.read.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/CustomBuild.write.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/flutter_wrapper_app.lastbuildstate
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/Lib-link.read.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/Lib-link.write.1.tlog
build/windows/x64/flutter/flutter_wrapper_app.dir/Debug/flutter_.909056E8.tlog/Lib.command.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/core_implementations.obj
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_wrapper_plugin.lib.recipe
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/plugin_registrar.obj
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/standard_codec.obj
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/CL.command.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/Cl.items.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/CL.read.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/CL.write.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/CustomBuild.command.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/CustomBuild.read.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/CustomBuild.write.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/flutter_wrapper_plugin.lastbuildstate
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/Lib-link.read.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/Lib-link.write.1.tlog
build/windows/x64/flutter/flutter_wrapper_plugin.dir/Debug/flutter_.5C679BA9.tlog/Lib.command.1.tlog
build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.recipe
build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.command.1.tlog
build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.read.1.tlog
build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/CustomBuild.write.1.tlog
build/windows/x64/flutter/x64/Debug/flutter_assemble/flutter_assemble.tlog/flutter_assemble.lastbuildstate
build/windows/x64/runner/ALL_BUILD.vcxproj
build/windows/x64/runner/ALL_BUILD.vcxproj.filters
build/windows/x64/runner/cmake_install.cmake
build/windows/x64/runner/INSTALL.vcxproj
build/windows/x64/runner/INSTALL.vcxproj.filters
build/windows/x64/runner/runner.sln
build/windows/x64/runner/tagdoc.vcxproj
build/windows/x64/runner/tagdoc.vcxproj.filters
build/windows/x64/runner/CMakeFiles/generate.stamp
build/windows/x64/runner/CMakeFiles/generate.stamp.depend
build/windows/x64/runner/Debug/flutter_windows.dll
build/windows/x64/runner/Debug/tagdoc.exe
build/windows/x64/runner/Debug/tagdoc.pdb
build/windows/x64/runner/Debug/data/icudtl.dat
build/windows/x64/runner/Debug/data/flutter_assets/AssetManifest.bin
build/windows/x64/runner/Debug/data/flutter_assets/AssetManifest.json
build/windows/x64/runner/Debug/data/flutter_assets/FontManifest.json
build/windows/x64/runner/Debug/data/flutter_assets/kernel_blob.bin
build/windows/x64/runner/Debug/data/flutter_assets/NativeAssetsManifest.json
build/windows/x64/runner/Debug/data/flutter_assets/NOTICES.Z
build/windows/x64/runner/Debug/data/flutter_assets/fonts/MaterialIcons-Regular.otf
build/windows/x64/runner/Debug/data/flutter_assets/packages/cupertino_icons/assets/CupertinoIcons.ttf
build/windows/x64/runner/Debug/data/flutter_assets/shaders/ink_sparkle.frag
build/windows/x64/runner/tagdoc.dir/Debug/flutter_window.obj
build/windows/x64/runner/tagdoc.dir/Debug/generated_plugin_registrant.obj
build/windows/x64/runner/tagdoc.dir/Debug/main.obj
build/windows/x64/runner/tagdoc.dir/Debug/Runner.res
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.exe.recipe
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.ilk
build/windows/x64/runner/tagdoc.dir/Debug/utils.obj
build/windows/x64/runner/tagdoc.dir/Debug/vc143.pdb
build/windows/x64/runner/tagdoc.dir/Debug/win32_window.obj
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/CL.command.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/Cl.items.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/CL.read.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/CL.write.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/CustomBuild.command.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/CustomBuild.read.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/CustomBuild.write.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/link.command.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/link.read.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/link.secondary.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/link.write.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/rc.command.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/rc.read.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/rc.write.1.tlog
build/windows/x64/runner/tagdoc.dir/Debug/tagdoc.tlog/tagdoc.lastbuildstate
build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.recipe
build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate
build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.command.1.tlog
build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.read.1.tlog
build/windows/x64/x64/Debug/ALL_BUILD/ALL_BUILD.tlog/CustomBuild.write.1.tlog
build/windows/x64/x64/Debug/INSTALL/INSTALL.recipe
build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.command.1.tlog
build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.read.1.tlog
build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/CustomBuild.write.1.tlog
build/windows/x64/x64/Debug/INSTALL/INSTALL.tlog/INSTALL.lastbuildstate
build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.recipe
build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.command.1.tlog
build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.read.1.tlog
build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/CustomBuild.write.1.tlog
build/windows/x64/x64/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate
